/*Régle généralisée sur l'ensemble des éléments texte dans le HTML*/
body {
	font-family: "Axia", Arial, Helvectica, sans-serif;
	font-size: 12pt;
	margin: 20px;
	color: #858484;
}

/*Dimensions de notre page html*/
.main{
	position: relative;
	top: 15;
}

/*Dimensions de la carte*/
#map{
	top: 10;
	left: 340px;
	width: 850px;
	height: 650px;
	background-color: #B4B3B3;
	border: 1px solid #B4B3B3;
	position: relative;
    z-index: 1
}

/*Dimensions du bandeau de gauche*/
.bandeau{
	position: absolute;
	top: 10;
	left: 0px;
	width: 300px;
	height: 620px;
	border: 1px solid #B4B3B3;
	padding: 15px;
}

/*Dimensions, couleur, police et autres paramètres de la barre d'info d'à gauche avec le graphique*/
.info{
	position: absolute;
	top: 10;
	width: 400px;
	height: 620px;
	background-color: #FFFFFE;
	opacity: 1;
	border: 1px solid #B4B3B3;
	padding: 15px;
	left: 100%;
	transform: translateX(-9%);
	z-index: 2;
	transition: left 0.5s;
	font-size: 14px;
	text-align: justify;
	overflow: auto;
}

/*Dimensions, couleurs, police et autres paramètres de la barre d'info sur la carte*/
.infovaleur {
	padding: 5px 6px; 
	font: 14px/16px Arial, Helvetica, sans-serif; 
	background: white; 
	background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 3px;
}
.infovaleur h4 {
	margin: 0 0 5px; 
	color: #777;
}


/*Dimensions et couleurs du curseur temporel*/
#slider-round {
    height: 10px;
}
#slider-round .noUi-connect {
    background: #c0392b;
}
#slider-round .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

/*Dimensions des légendes*/
#Boisee {
	height: 210px;
	width: 350px;
}

#Urbain {
	height: 210px;
	width: 350px;
}

#Agricole {
	height: 210px;
	width: 350px;
}

#Improductive {
	height: 210px;
	width: 350px;
}

/*Dimensions et positionnement du graphique*/
#barplot {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

/*Dimensions et positionnement du titre du graphique*/
#titre {
	position: absolute;
	z-index: 2;

}

/*Dimensions et positionnement du titre du graphique*/
.sources {
	position: relative;
	bottom: 0;
	font-size: 8pt;
	margin-bottom: 5px;
}

/*Éviter le débordement des éléments sur la page*/
body {
	overflow-x: hidden;
}